In [2]:
print("hello world")

print("this is it!!")

hello world
this is it!!

In [1]:
l = [1,2,3,4]
for  i in l:
    print(i)

1
2
3
4

In [2]:
import pandas as pd
list1 = [['kriti', 20, 'ktm'],['beth', 30, 'pkr'], ['siya', 10, 'bkt']]
pd.DataFrame(list1 , columns = ['name', 'age', ' address'])

    name  age  address
0  kriti   20      ktm
1   beth   30      pkr
2   siya   10      bkt

In [ ]:
list2 = [[10,21,40], [22,24,22], [16,35,13]]
data1 = pd.DataFrame(list2, columns = ['humidity', 'temperature', 'wind'] )
avgg = data1.mean()
avgg

humidity       16.000000
temperature    26.666667
wind           25.000000
dtype: float64